/*reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* les classe fontionnelle flex*/

.andada-pro{
  font-family: "Andada Pro", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}





.space-between {
justify-content: space-between
}
.space-around {
justify-content: space-arounde
}

.justify-center {
justIfy-content: center;
}

.flex-end{
justIfy-content: flex-end
}

.flex-start {
justify-content: flex-start;
}

/*alignement en vertical*/

.align-center {

align-items:center;
}

.align-end {
align-items:end
}

/* gap */
.gap-12{
gap:12px;
}

/* classe de largeur */
 

a {
    text-decoration: none;

}

h2 {
    font-size: 35px;
}

.btn {
    background-color: gray;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    display: inline-block;
}

.btn-primary {
    font-size: 25px
}

.btn-secondary {
    font-size: 14px;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* classe fontionnelltes flex box*/
/* rendre flexible un parent = aligner ses enfants */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;

}

.justify-content {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.aligne-center {
    align-items: center;
}

/* classe de dimention */
.w-100 {
    width: 100%;
}
.w-48{
    width: 48%;
}
.w-50 {
    width: 50%;
}

.w-33 {
    width: 33%;
}

.w-25 {
    width: 25%;
}

.w-40{
    width: 40%;
}

.logo {
    width: 100px;
}

header ul {
    list-style: none;
}

/* header*/
header {
    padding: 20px 64px;
    background-color: rgb(245, 240, 240);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.256);
}

/*section hero*/
.section-hero {
    background-image: url("asset/Placeholder-img-rect-big.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.section-hero div {

    text-align: center;

}

h1 {
    margin-bottom: 20px;
    font-size: 45px;
}

.section-hero div p{
    margin-bottom: 50px;
    font-size: 25px;
}


.bgred{
    color: red;
}

.bg{
    color: blue;
}

.liste-style{
    list-style: none;
}

.font-size{
    font-size: 18px;
}


.banniere {
    height: 100vh; 
    background-image: url("asset/banniere.jpg"); 
    background-size: cover;
    background-position: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: white; 
    
    position: relative;
}

.dawn{
    color: white;
}


.font{
    color: gold;
    font-size: 20px;
}

.margintop{
    margin-top: 100px;
}

.or{
    color: gold;
}

.mntn {
    position: relative;
    width: 1920px;
    height: 4000px;
    background: #0B1D26;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
}

.texte{
    color: white;
}






